.times {
  width: 100%;
  display: flex;
  justify-content: center;

}

.times-content {
  /* display: inline-block; */
  margin-top: 1rem;
  margin-left: 9rem;
  width: 200px;
  height: 200px;
  display: flex;
  /* display: -webkit-flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #6870fa;
  border-radius: 62% 38% 15% 85% / 65% 74% 26% 35%;
  box-shadow: 0 32px 24px rgba(104, 112, 250, 0.5);
}
#timer-label {
  font-size: 1.5rem;
  font-weight: 700;
}

#time-left {
  font-size: 3rem;
  font-weight: 700;
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
